@{
    ViewBag.Title = "FRCGroove - About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Navigation", "About")

<style>
    li {
        margin-top: 0.5rem
    }
</style>

<div class="card" style="margin-bottom:1rem">
    <h5 class="card-header">
        Why does FRC Groove exist?
    </h5>
    <div class="card-body" style="text-align:justify">
        FRC Groove was born out of a frustration with existing tools and websites, notably during an event itself.  Fantastic though they are, they didn't suit my specific needs without a lot of jumping back and forth within and between multiple apps and websites.  Even then, one specific item was never quite right - the schedule.  During one event, the FIRST schedule itself was off by an hour and TBA was just off overall.  I wanted to know when the next match would likely be for my teams of interest, and while I love math, I really didn't want to do this all in my head.  So, my first objectives were all about <a href="#time">time <i class="far fa-clock"></i></a> - intelligently correct for bad time data from the sources, display an overall estimate of how ahead or behind matches are running, and with each match display a projected start time.
    </div>
</div>

<div class="card" style="margin-bottom:1rem">
    <h5 class="card-header">
        Where do you get your data?
    </h5>
    <div class="card-body" style="text-align:justify">
        FRC Groove uses data directly from the FRC event APIs, except for OPR stats, which are pulled from the TBA API.  Nothing terribly magical here - just a nice single-page presentation that suited my needs.  I hope it suits yours.  <a href="/Contact">Suggestions <i class="far fa-envelope"></i></a> are always welcome (I just may not choose to do em).
    </div>
</div>

<div class="card" style="margin-bottom:1rem">
    <h5 class="card-header">
        <a id="time"></a>
        Time is relative
    </h5>
    <div class="card-body" style="text-align:justify">
        Since it was my primary driver, sharing what I do about time...
        <ul style="padding-left:1.5rem">
            <li>I collect publicized start times for the qualification matches for each event.</li>
            <li>If the first qual match's planned start time in data is more than 50 minutes off from the publicized start time, then I assume a time zone mistake and adjust all planned start times by the delta.</li>
            <li>If any qual match's actual start time is more than 50 minutes off of the planned start time, I adjust it by the delta (sometimes the FRC data is out of whack, and sometimes only for <i>some</i> of the matches - go figure).</li>
            <li>The average delta between planned and actual start times for the last 3 completed matches for the day is used to determine the ahead/behind amount and to calculate project match start times.</li>
        </ul>
    </div>
</div>