@{
    ViewBag.Title = "FRC Groove - Contact Us";
}
<h2>Coming soon</h2>

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@

<nav class="navbar navbar-dark fixed-bottom navbar-expand justify-content-center" style="background-color:#333399;">
    <div class="navbar-nav">
        <a class="nav-item nav-link" style="font-size:32px; text-align:center; padding-top:0" href="/"><i class="far fa-calendar-alt"></i></a>
        <a class="nav-item nav-link" style="font-size:32px; text-align:center; padding-top:0" href="/Teams"><i class="fas fa-users"></i></a>
        <a class="nav-item nav-link active" style="font-size:32px; text-align:center; padding-top:0" href="/About"><i class="fas fa-info-circle"></i></a>
    </div>
</nav>
