@{
    ViewBag.Title = "FRC Groove - Contact Us";
}

@Html.Partial("Navigation", "About")

<div class="card" style="margin-bottom:1rem">
    <h5 class="card-header">
        Contact Us
    </h5>
    <div class="card-body">
        <a href="mailto:frcgroove@gmail.com">FRCGroove@gmail.com</a>
    </div>
</div>
