
@{
    ViewBag.Title = "Teams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="nav nav-pills nav-justified" style="margin-bottom: 10px">
    <a class="nav-item nav-link" href="/"><i class="fas fa-calendar-alt"></i><br /><span style="font-size:12px">Events</span></a>
    <a class="nav-item nav-link disabled" href="/"><i class="fas fa-calendar-day"></i><br /><span style="font-size:12px">Match</span></a>
    <a class="nav-item nav-link active" href="/Teams"><i class="fas fa-users"></i><br /><span style="font-size:12px">Teams</span></a>
    <a class="nav-item nav-link" href="/About"><i class="fas fa-info-circle"></i><br /><span style="font-size:12px">About</span></a>
</nav>

<h2>Coming soon</h2>
<ul>
    <li>add/remove teams from watch list</li>
    <li>link to team details (external site)</li>
</ul>
