
@{
    ViewBag.Title = "Teams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Navigation", "Teams")

<h2>Coming soon</h2>
<ul>
    <li>add/remove teams from watch list</li>
    <li>link to team details (external site)</li>
</ul>
