
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table tr td {
        padding: 0.1rem 0.25rem 0.1rem 0.25rem;
    }
</style>

<p>This page allows you to manage your global watch list.  This only applies on your current device/browser.</p>

@{
    string[] teamList = null;
    if (Request.Cookies.AllKeys.Contains("teamList"))
    {
        teamList = Request.Cookies["teamList"].Value.Split(',');
    }
}

<script type="text/javascript">
    var teamList = '@(Request.Cookies["teamList"].Value)';
    var lastSort = '#';
    var lastSearch = '';
</script>

@Html.Partial("Navigation", "Teams")

<div id="watchlist">
    <p>Your current watchlist is listed here to allow easy removal.  If you add teams by clicking down below, you'll need to refresh this page before seeing them here.</p>
    @foreach (string team in teamList)
    {
        if (team.Length > 0)
        {
            int teamNumber = -1;
            string teamName = string.Empty;
            if (Int32.TryParse(team, out teamNumber))
            {
                if (FRCGroove.Lib.Groove.TeamListingCache.ContainsKey(teamNumber))
                {
                    teamName = FRCGroove.Lib.Groove.TeamListingCache[teamNumber].name;
                }
            }

            <div id="wl_@team">
                <span style="cursor:pointer" onclick="javascript:RemoveTeam('@team');">[<span style="color:red">x</span>]</span>
                @($"{team} {teamName}")
            </div>
        }
    }
</div>
<hr />
<p>
    <label for"search">Search (# or name)</label>&nbsp;<input type="text" name="search" id="search" size="15" />
    <br /><span id="numTeams"></span>
</p>

<table class="teamListing" id="teams">
    <thead>
        <tr id="teamSort">
            <th>#</th>
            <th>Name</th>
            <th>EPA</th>
        </tr>
    </thead>
    <tbody id="teamsBody"></tbody>
</table>

<script type="text/javascript">
    $("#teamsBody").on('click', '[id^=tm]', function () {
        var id = $(this).attr('id');
        var teamNumber = id.substring(2, id.indexOf('-'));
        WatchTeam(teamNumber);
    });

    $("#search").on("input", function () {
        lastSearch = $(this).val();
        GetAllTeams(lastSort, $(this).val());
    });

    $("th").click(function () {
        lastSort = $(this).text();
        GetAllTeams(lastSort, lastSearch)
    });

    function RemoveTeam(teamNumber) {
        WatchTeam(teamNumber);
        $("#wl_" + teamNumber).remove();
    }

    function WatchTeam(teamNumber) {
        var entries = $("[id^=tm" + teamNumber + "-a]");
        var action = '';
        $.each(entries, function () {
            var weight = $(this).css('font-weight');
            if (weight == 400) {
                $(this).css('background-color', 'yellow');
                $(this).css('font-weight', '600');
                action = 'add';
            }
            else {
                $(this).css('background-color', 'unset');
                $(this).css('font-weight', '400');
                action = 'remove';
            }
        });
        if (action == 'add') {
            if (teamList.length > 0) teamList += ",";
            teamList += teamNumber;
        }
        else
            teamList = teamList.replace(teamNumber, "x" + teamNumber);

        UpdateWatchlist(teamNumber, action);
    }

    function UpdateWatchlist(teamNumber, action) {
        $.ajax({
            type: "POST",
            url: "/Teams/UpdateWatchlist",
            data: '{"teamList": "' + teamList + '"}',
            contentType: "application/json; charset=utf-8",
            success: function () {
                console.log("successfully updated watchlist");
            },
            error: function (response) {
                console.error(response);
            }
        });
    }

    function GetAllTeams(sort, search) {
        $('#teams').find("tr:gt(0)").remove();
        $.get("GetAllTeams", { sort: sort, search: search }, function (data) {
            if (data.Teams != null) {
                var row = '';
                $.each(data.Teams, function (key, team) {
                    style = ''
                    if (data.Watchlist.includes(team.number)) {
                        style = ' style="background-color: yellow; font-weight: 600"';
                    }

                    row += '<tr>';
                    row += '<td id="tm' + team.number + '-a"' + style + '>' + team.number + '</td>';
                    row += '<td id="tm' + team.number + '-a"' + style + '>' + team.name + '</td>';
                    if (team.epa != null)
                        row += '<td id="tm' + team.number + '-a"' + style + '>' + team.epa.epa_end + '</td>';
                    else
                        row += '<td id="tm' + team.number + '-a"' + style + '></td>';
                    row += '</tr>';
                });

                $('#teamsBody').append(row);

                if (data.Teams.length == 1)
                    $("#numTeams").text(data.Teams.length + ' team');
                else
                    $("#numTeams").text(data.Teams.length + ' teams');
            } else {
                $("#numTeams").text('Enter a search key to list teams');
            }

        });
    }

    GetAllTeams('', '');
</script>