body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table {
    border-collapse: collapse;
    border: 1px solid #666666;
}

table td {
    border: 1px solid #666666;
    padding: 0;
    text-align: center;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.teamOfInterest {
    font-weight: bold;
}

.redInvert {
    color: white;
    background-color: #ff5555;
}

.blueInvert {
    color: white;
    background-color: #5555ff;
}

.scoreWin {
    font-weight: bold;
}

.redWin {
    border: 3px solid #ff5555;
    /*box-shadow: inset -2px -2px 1px #ff5555, inset 2px 2px 1px #ff5555;*/
    font-weight: bold;
}

.blueWin {
    border: 3px solid #5555ff;
    /*box-shadow: inset -2px -2px 1px #5555ff, inset 2px 2px 1px #5555ff;*/
    font-weight: bold;
}

.disqualified {
    text-decoration: line-through;
}

.surrogate {
    text-decoration: double underline;
}

a.nodecoration:link, a.nodecoration:visited, a.nodecoration:hover, a.nodecoration:active {
    text-decoration: none;
    color: inherit;
}

/* sticky headers */
.followMeBar {
    background: #333399;
    padding: 5px 10px;
    position: relative;
    z-index: 1;
    color: #fff;
    font-weight: bold;
}

.followMeBar.fixed {
    position: fixed;
    top: 0;
    box-sizing: border-box;
    z-index: 0;
    border-radius: 4px 4px 4px 4px;
}

.followMeBar.fixed.absolute {
    position: absolute;
}

.arrowred_right-old {
    left: 3pt;
    width: 0.8em;
    height: 0.8em;
    border-right: 0.2em solid red;
    border-top: 0.2em solid red;
    transform: rotate(45deg);
    display: inline-block;
    position: relative;
}

.arrowblue_right-old {
    left: 3pt;
    width: 0.8em;
    height: 0.8em;
    border-right: 0.2em solid blue;
    border-top: 0.2em solid blue;
    transform: rotate(45deg);
    display: inline-block;
    position: relative;
}

.arrowred_left-old {
    right: 3pt;
    width: 0.8em;
    height: 0.8em;
    border-right: 0.2em solid red;
    border-top: 0.2em solid red;
    transform: rotate(-135deg);
    display: inline-block;
    position: relative;
}

.arrowblue_left-old {
    right: 3pt;
    width: 0.8em;
    height: 0.8em;
    border-right: 0.2em solid blue;
    border-top: 0.2em solid blue;
    transform: rotate(-135deg);
    display: inline-block;
    position: relative;
}

.arrow_right {
    left: 0.5em;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid green;
    display: inline-block;
    position: relative;
}

.arrow_left {
    right: 0.5em;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid green;
    display: inline-block;
    position: relative;
}

.eliminated {
    left: 0em;
    color: red;
    font-weight: bold;
    font-size: large;
    display: inline-block;
    position: relative;
    visibility: hidden;
}

div#backToTop {
    position: fixed;
    top: 5px;
    right: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    display: none
}

.up {
    background-color: #333399;
    border-radius: 8px 8px 8px 8px;
    height: 40px;
    position: fixed;
    width: 50px;
    opacity: 0.75;
    z-index: 10000;
    line-height: 45px;
}

.up p:hover {
    cursor: pointer
}

.up p {
    text-align: center;
    position: relative;
    bottom: 3px;
    margin: 0px;
    color: white;
    font-weight: bold;
}

.nav-link {
    color: #333399;
    line-height: 1.0;
    text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #333399;
    text-align: center;
}